@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  height: 100vh;
  grid-template: 1fr 3fr / 1fr 5fr;
}

#header {
  grid-column: 2 / 3;
}

#side-bar {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #f87171;
  font-size: 1.7rem;
}

#side-bar a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
}

#side-bar img {
  padding: 0 20px;
}

#side-bar a:hover {
  background: #ef4444;
}

#side-bar > ul:first-child a {
  font-size: 2rem;
  font-weight: bold;
}

#main-content {
}