@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

:root {
  --grey-background: rgb(222, 222, 222);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h3,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: grid;
  height: 100vh;
  grid-template: 1fr 4fr / 1fr 5fr;
}

#header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column: 2 / 3;
  font-size: 1.2rem;
}

#header .upper-section,
#header .lower-section {
  display: grid;
  padding-left: 30px;
  padding-right: 50px;
  grid-template: 1fr / repeat(5, 1fr);
  align-items: center;
  background-color: white;
}

#header .upper-section form {
  display: grid;
  align-items: center;
  gap: 10px;
  grid-column: 1 / 4;
  grid-template-columns: auto 1fr;
}

#header .upper-section input[type=text] {
  width: max(300px, 75%);
  height: 30px;
  border-radius: 13px;
  padding: 15px;
  background-color: var(--grey-background);
  border: 0px;
  outline: none;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#header .upper-section .user-panel {
  grid-column: -2;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
  justify-content: end;
  align-items: center;
}

#header .lower-section {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}

#header .lower-section .user-actions {
  display: flex;
  grid-column: -2;
  gap: 20px;
}

#header .lower-section .user-actions a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  text-align: center;
  border-radius: 35px;
  padding: 25px;
  background-color: #f87171;
}

#header .lower-section .user-info {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-areas: "pfp description"
                       "pfp name";
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
}

#header .lower-section img[src$=".jpg"] {
  grid-area: pfp;
  align-self: center;
  border-radius: 50%;;
  height: 100px;
  width: 100px;
}

#header .lower-section p:first-of-type {
  grid-area: description;
  align-self: end;
  margin: 5px;
}

#header .lower-section p:last-of-type {
  grid-area: name;
  align-self: start;
  margin: 5px;
}

.username {
  font-size: 1.5rem;
}

#side-bar {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #f87171;
  font-size: 1.7rem;
}

#side-bar a {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
}

#side-bar img {
  padding: 0 20px;
}

#side-bar a:hover,
#header .user-actions a:hover {
  background: #ef4444;
}

#side-bar > ul:first-child a {
  font-size: 2rem;
  font-weight: bold;
}

#main-content {
  --header-space: 30px;
  --space-between: 20px;
  --card-radius: 8px;
  --inner-padding: 15px;
  --miscellaneous-color: grey;
  --card-shadow: 2px 2px 5px grey;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  background-color: var(--grey-background);
  padding: var(--space-between);
  gap: var(--space-between);
}

#main-content > .projects-showcase {
  grid-column: 1 / 3;
  display: grid;
  grid-template: var(--header-space) 1fr / 1fr;
  gap: 10px;
}

#main-content > .projects-showcase > .header {
  grid-column: 1 / -1
}

#main-content > .projects-showcase > .projects {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: var(--space-between);
}

#main-content .project-card {
  display: flex;
  flex-direction: column;
  padding: var(--inner-padding);
  background-color: white;
  border-radius: var(--card-radius);
  border-left: 10px solid #44403c;
  box-shadow: var(--card-shadow);
}

.project-card h2  {
  font-weight: bolder;
}

.project-card p {
  color: var(--miscellaneous-color);
  flex: 1;
}

#main-content .project-card .actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

#main-content > .events {
  display: grid;
  grid-template: var(--header-space) 1fr var(--header-space) 1fr / 1fr;
  gap: 10px;
}

#main-content .announcements {
  padding: var(--inner-padding);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#main-content .announcements > .event {
  border-bottom: 1px solid var(--miscellaneous-color);
  padding: 5px;
}

#main-content .announcements > .event:last-child {
  border-bottom: none;
}

#main-content .announcements > .event > p {
  color: var(--miscellaneous-color);
}

#main-content .trending {
  padding: var(--inner-padding);
  border-radius: var(--card-radius);
  background: white;
  display: grid;
}

#main-content .person {
  display: grid;
  grid-template-areas: "pfp name"
                       "pfp desc";
  grid-template-columns: repeat(2, max-content);
  column-gap: 5px;
}

#main-content .person > img {
  grid-area: pfp;
  align-self: center;
}

#main-content .person > p:first-of-type {
  grid-area: name;
  align-self: end;
  margin: 5px 0;
}

#main-content .person > p:last-of-type {
  grid-area: desc;
  color: var(--miscellaneous-color);
}